<html>
<div>
        <br>
    <h2>Details for Employee : {{ employee.username }}</h2>
    <p><ul>
        <li><b>First Name :</b> {{ employee.firstName }}<br></li>
        <li><b>Last  Name :</b> {{ employee.lastName }}<br></li>
        <li><b>Date of Birth :</b> {{ employee.dob }}<br></li>
        <li><b>Contact number :</b> {{ employee.contact}}<br></li>
        <li><b>Address :</b> {{ employee.address}}<br></li>
        <li><b>Email :</b> {{ employee.email }}<br></li>
        <li><b>CTC salary  :</b> ${{ employee.CTC }} USD <br></li>
        <li><b>Department  :</b> {{ employee.department}}<br></li>
        <li><b>Desigination  :</b> {{ employee.desigination }}<br></li>
    </ul></p>
</div>
</html>
